{% set documentation_path = path('app.swagger_ui', [], false) %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}">
{% endblock %}

{% extends 'base.html.twig' %}

{% block body %}
    <div id="home" class="container">
        <h1>{{ app_name }}</h1>
        <button type="button" onclick="window.location.href = '{{ documentation_path }}'">Documentation</button>
    </div>
{% endblock %}