{% extends 'application/base_application.html.twig' %}

{% block title %}OpenAI Gateway - User profile{% endblock %}

{% block applicationPageTitle %}User profile{% endblock %}

{% block applicationSection %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ app.user.fullName }}</h5>
                    <p class="card-text">{{ app.user.description }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
