{% extends 'application/base_application.html.twig' %}

{% block title %}{{ app_name }} | {{ 'user_menu.usage'|trans }}{% endblock %}

{% block applicationPageTitle %}{{ 'user_menu.usage'|trans }}{% endblock %}

{% block applicationSection %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
