{% extends 'application/base_application.html.twig' %}

{% block title %}OpenAI Gateway - Api usage{% endblock %}

{% block applicationPageTitle %}API Usage{% endblock %}

{% block applicationSection %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
