{% extends 'base.html.twig' %}

{% block body %}

    {% include 'application/ui/alert_box.html.twig' %}

    {{ render(controller("App\\Controller\\Application\\Layout\\LayoutController::header")) }}
    {{ render(controller("App\\Controller\\Application\\Layout\\LayoutController::sidebar")) }}

    <main id="main" class="main">
        <div class="pagetitle">
            <h1>{% block applicationPageTitle %}{% endblock %}</h1>
            {{ render(controller("App\\Controller\\Application\\Layout\\UIController::breadcrumb")) }}
        </div>

        {% block preApplicationSection %}{% endblock %}
        <section class="section">
            {% block applicationSection %}{% endblock %}
        </section>
        {% block postApplicationSection %}{% endblock %}
    </main>

    {{ render(controller("App\\Controller\\Application\\Layout\\LayoutController::footer")) }}

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center">
        <i class="bi bi-arrow-up-short"></i>
    </a>
{% endblock %}
