<footer id="footer" class="footer">
    <div class="copyright">
        &copy; Copyright <strong><span>Artcustomer</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
        Performed by <a href="https://artcustomer.fr/">David Massenot</a>
    </div>
</footer>