<footer id="footer" class="footer">
    <div class="copyright">
        {{ 'footer.copyright'|trans }} <strong><span>Artcustomer</span></strong>. {{ 'footer.rights'|trans }}
    </div>
    <div class="credits">
        {{ 'footer.performed_by'|trans }} <a href="https://artcustomer.fr/">David Massenot</a>
    </div>
</footer>
