{% extends 'application/base_application.html.twig' %}

{% block title %}Speak to text{% endblock %}

{% block applicationPageTitle %}Speak to text{% endblock %}

{% block applicationSection %}
    {% if errorMessage %}
        <div class="alert alert-dismissible alert-danger">
            <strong>{{ errorMessage }}</strong>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">

                    {{ form(form) }}

                    <script>
                        navigator.mediaDevices.getUserMedia({audio: true})
                            .then(stream => {
                                handlerFunction(stream)
                            })

                        function handlerFunction(stream) {
                            rec = new MediaRecorder(stream);
                            rec.ondataavailable = e => {
                                audioChunks.push(e.data);

                                if (rec.state === "inactive") {
                                    let blob = new Blob(audioChunks, {type: 'audio/mp3'});

                                    audio_speak_to_text_input_audio.src = URL.createObjectURL(blob);
                                    audio_speak_to_text_input_audio.controls = true;
                                    audio_speak_to_text_input_audio.autoplay = false;

                                    sendData(blob)
                                }
                            }
                        }

                        function sendData(data) {
                            console.log(data);
                            audio_speak_to_text_input_audio.value = data;
                        }

                        audio_speak_to_text_button_start.onclick = e => {
                            audio_speak_to_text_button_start.disabled = true;
                            audio_speak_to_text_button_start.style.backgroundColor = "blue"
                            audio_speak_to_text_button_stop.disabled = false;
                            audioChunks = [];
                            rec.start();
                        }

                        audio_speak_to_text_button_stop.onclick = e => {
                            audio_speak_to_text_button_start.disabled = false;
                            stop.disabled = true;
                            audio_speak_to_text_button_start.style.backgroundColor = "red"
                            rec.stop();
                        }
                    </script>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
