<div {{ attributes }}>
    {{ form(
        form,
        {
            attr: {
            novalidate: true,
            'data-action': 'live#action:prevent',
            'data-live-action-param': 'save'
        }
        }
    ) }}
</div>
